.login-bg {
    background-image: url('/home/tejaswini/Desktop/Project_DMC/project/restaurant_management/restaurant_owner/src/images/resto.avif');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  